<!doctype html>
<title> {% block title %} Image extracting utility {% endblock %}</title>
<script src="https://ajax.googleapis.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script>
<script>

function goToURL()
{
    window.location.href = '/' + document.getElementById('grabURL').value
}

$(document).keyup(function(event) {
    if ($(".grabURL").is(":focus") && event.key == "Enter") {
        goToURL()
    }
});


</script>

<body>

To extract photos from a webpage, simply add <code> /http://somewebsite.com/my/beautiful/url/awebpage.html </code> to the address bar after the site name. Alternatively, paste the URL below:
<br><br>
<input class="grabURL" name="searchTxt" type="text"  id="grabURL" >
<input type="button" value="Go" onClick="goToURL()" >
<br><br>

{% block content %}
{% endblock %}

</body>
